@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-grid font-azeret-mono text-dark;
  }
}

@layer components {
  .btn-primary {
    @apply inline-flex justify-center rounded-lg border-2 border-dark bg-primary px-3 py-2.5 text-center text-sm font-bold text-white hover:bg-secondary hover:text-black disabled:cursor-not-allowed disabled:border-[#808080] disabled:bg-[#A8B0B9] disabled:text-white lg:px-4 lg:py-3 lg:text-base;
  }
  .btn-dark {
    @apply mb-4 inline-flex justify-center rounded border-2 border-dark bg-dark px-6 py-1 text-center text-base text-white hover:bg-secondary hover:text-black disabled:cursor-not-allowed disabled:border-[#808080] disabled:bg-[#A8B0B9] disabled:text-white;
  }
  .btn-outline-dark {
    @apply inline-flex justify-center rounded-t-lg border-2 border-dark bg-white px-6 py-2 text-center  text-base text-dark hover:bg-secondary hover:text-black disabled:cursor-not-allowed disabled:border-[#808080] disabled:bg-[#A8B0B9] disabled:text-white;
  }
  .form-input {
    @apply block w-full border-0 px-4 py-2  text-sm text-gray-900 ring-2 ring-inset ring-black placeholder:text-gray-400 focus:outline-0 focus:ring-2 focus:ring-inset focus:ring-primary lg:px-5 lg:py-3 lg:text-base;
  }
}
@layer utilities {
  .bg-grid {
    width: 100%;
    height: 100%;
    --color: #e1e1e1;
    background-color: #efece7;
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      );
    background-size: 64px 64px;
  }
  .card-shadow {
    box-shadow: 0px 3px 0px #000400;
  }
}
